@model BugTrackerMVC.Models.ViewModels.UserCreateVm

<h2>Dodaj użytkownika</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>

    <label>Email</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label>Nazwa</label>
    <input asp-for="DisplayName" />
    <span asp-validation-for="DisplayName"></span>

    <label>Hasło</label>
    <input asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>

    <label>Rola</label>
    <select asp-for="Role" asp-items="Model.Roles"></select>
    <span asp-validation-for="Role"></span>

    <button type="submit">Zapisz</button>
</form>

@section Scripts {
         <partial name="_ValidationScriptsPartial" />
}
