@model List<BugTrackerMVC.Models.ViewModels.UserListItemVm>

<h2>Użytkownicy</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj użytkownika</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nazwa</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
                <tr>
                    <td>@u.Email</td>
                    <td>@u.DisplayName</td>
                    <td>@u.Roles</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@u.Id">Edytuj</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
